@import '../../styles/settings.scss';

.projects {
  display: none;
  z-index: 2;
  color: $color-text-light;
  margin-top: 2vh;
}

.title {
  font-size: $base-size * 2;
}

.section {
  color: $color-text-dark;
  a {
    color: $color-text-dark;
  }
}

.active {
  display: block;
}