@import '../../../styles/settings.scss';

.navbar {
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  z-index: 999;
  top: 0;
  position: sticky;
  font-size: $base-size * 1.75;
  color: $color-text-dark;
  font-weight: 600;
  background-image: url("../../../../public/images/topbar.jpg");
  background-size: 100% 112%;

  a{
    color: $color-text-light;
  }

  .menu {
    @extend %backgroundGlass;
    border-radius: 0 0 16px 16px;
    display: flex;
    padding: 0 10px;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  
  li {
    @extend %transitionHover;
    @extend %navBarHover;
    color: $color-text-light;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 5px;
    height: 100%;
    cursor: pointer;

    .navlink {
      width: 100%;
      height: 100%;
      padding: 0 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
  .linkActive{
    &::after {
      display: block;
      height: 5px;
      width: 60%;
      margin: 2px auto;
      content: '';
      background-color: $color-dark;
      border-radius: 5px;
    }
  }
  .input,label{
    display: none;
  }

  i {
    @extend %backgroundGlass;
    text-align: center;
    border-radius: 0 0 16px 16px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    color: $color-text-light;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: end;
    
    .menu {
        overflow: hidden;
        position: absolute;
        right: 0;
        height: 0;
        display: none;
        border-radius: 0;
        padding: 0;
        
        ul {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-items: space-around;
          padding: 0;

          li {
            display: flex;
            justify-items: center;
            width: 100%;
            text-align: center;
            font-size: $base-size * 3;
          }
        }
    }

    label {
      width: 100%;
      height: 100%;
      display: inline-flex;
      cursor: pointer;  
      font-size: $base-size * 3;
    }

    .input:checked ~ .menu {
      height: 100vh;
      width: 100vw;
      display: block;
    }

    span {
      margin: auto;
    }
  }
}
