@import '../../../styles/settings.scss';

.button {
  background: $color-medium;
  border: 0;
  color: $color-light;
  text-align: center;
  line-height: 1.3;
  padding: $base-size;
  margin: 10px auto;
  border-radius: $radius;
  cursor: pointer;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    background: $color-dark;
  }
}