@import '../../styles/settings.scss';

.hero {
  width: 100%;
  height: 10vh;
  background: $color-light;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  top: 0;
  position: sticky;
  font-size: $base-size * 1.75;

  .menu {
    display: flex;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    background: $color-light;
  }
  
  li {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    cursor: pointer;
  }
  .input,label{
    display: none;
  }
}

.name {
  display: flex;
  align-items: center;
  cursor: pointer;
}


@media (max-width: 768px) {
  .hero {
    position: relative;

    h2{
      font-size: $base-size * 1.5;
    }

    span {
      font-size: $base-size * 1.2;
    }

    .menu {
        overflow: hidden;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 0;
        
        ul {
          flex-direction: column;
          align-items: center;
          padding: 10px;
        }
    }

    label {
        display: inline-flex;
        cursor: pointer;  
        font-size: $base-size * 3;
    }

    i {
      line-height: 10vh;
    }

    .input:checked ~ .menu {
        height: 300px;
    }
}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .hero {
    position: relative;

    h2{
      font-size: $base-size * 1.5;
      line-height: 10vh;
    }
  }
}