@import '../../../styles/settings.scss';

.resume {
  color: $color-text-light;

  .title {
    font-size: $base-size * 2;
    text-align: center;
  }

  .section {
    color: $color-text-light;
  }
}