@import '../../../styles/settings.scss';

.resume {
  color: $color-text-light;
  margin-top: 2vh;
  z-index: 2;
}

.title {
  font-size: $base-size * 2;
  text-align: center;
}

.section {
  @extend %backgroundGlass;
  margin: 30px auto;
  color: $color-text-dark;
}