$color-light: #f5ebe0;
$color-medium: #525870;
$color-dark: #3D4255;

$color-text-light: #f5f5dc;
$color-text-dark: #2b2b2b;

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
