@import '../../styles/settings.scss';

.label {
  display: inline-block;
  color: $color-text-light;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: $radius-label;
  font-family: $font-text2;
  font-weight: 600;
  text-shadow: 0 0 3px black;
  box-shadow: 0 0 2px gray;
}