@import '../../styles/settings.scss';

.resume {
  color: $color-text-light;
  margin-top: 2vh;
  z-index: 2;
}

.title {
  font-size: $base-size * 2;
  margin-left: 10px;
}

.section {
  color: $color-text-dark;
}