@import '../../styles/settings.scss';

.resume {
  color: $color-text-light;
  margin-top: 2vh;
  display: none;
  z-index: 2;
}

.title {
  font-size: $base-size * 2;
}

.section {
  color: $color-text-dark;
}

.active {
  display: block;
}