@import '../../../styles/settings.scss';

.projects {
  z-index: 2;
  color: $color-text-light;
}

.title {
  font-size: $base-size * 2;
  margin-left: 10px;
}

.section {
  color: $color-text-light;

  a {
    color: $color-text-light;
  }
}