@import '../../../styles/settings.scss';

.rot {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;

  .moon {
    position: absolute;
    left: 2%;
    top: 5%;
    width: 250px;
    height: 250px;
  }
  
  .nebula {
    position: absolute;
    left: 75%;
    top: 20%;
    width: 350px;
    height: 350px;
  }
  .nebula3 {
    position: absolute;
    left: -5%;
    top: 30%;
    width: 550px;
    height: 550px;
  }

  .nebula2 {
    position: absolute;
    left:25%;
    top: 60%;
    width: 450px;
    height: 450px;
  }

  .stars {
    height: 100%;
    width: 100%;
    background: rgb(0,31,65);
    background: linear-gradient(146deg, rgba(0,31,65,1) 0%, rgba(0,0,0,1) 100%);
    position: relative;
  }
  .star {
    border-radius: 50%;
    background: #fff;
    display: block;
    position: absolute;
    -webkit-animation: glow 4000ms linear infinite;
    animation: glow 4000ms linear infinite;
  }

  @-webkit-keyframes glow {
      0% {
          opacity: 0.7;
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }
      50% {
          opacity: 1;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }
      100% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }
  }

  @keyframes glow {
      0% {
          opacity: 0.7;
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }
      50% {
          opacity: 1;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }
      100% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
      }
  }
}