@import '../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 40px 30px;
  font-weight: 300;

  h2 {
    color: $color-text-light;
  }

  p {
    margin: 0;
    font-size: calc($base-size * 1.4);
  }
}
