@import '../../../styles/settings.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 20px 30px;
  font-weight: 600;

  h2 {
    color: $color-text-light;
  }
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  font-family: $font-text2;
  p {
    font-weight: 400;
    line-height: $base-size * 1.5;
  }
}