@import '../../../styles/settings.scss';

.container {
 // @extend %backgroundGlass;
 border: 1px solid rgb(221, 221, 221);
  margin: 30px auto;
  display: flex;
  gap: 10px;
  height: 450px;
  width: 80%;
}

.image {
  margin: 5px auto;
  object-fit: contain;
  max-width: 95%;
}

.toImage {
  width: 50%;
  height: 100%;
  display: flex;
}

.toDescription {
  width: 50%;
  height: 100%;
  display: flex;
  padding-right: 25px;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 10px 0;
  }

  p {
    margin: 10px 0 20px 0;
    font-family: $font-text2;
    font-size: $base-size *1.5;
  }
}

.lebels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}