@import '../../../styles/settings.scss';

.root {
  display: flex;
  position: relative;
  justify-content: center;
  width: 602px;
  height: 302px;
  margin: 0 auto;


  .footer {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 990;
    color: #fff;
    text-shadow: #000 0 0 10px;
    font-size: $base-size * 1.7;
    font-weight: 400;
    
    p {
      margin: 0;
    }

    a {
      color: #fff;
    }

    .shadowBox {
      margin: 20px 0 0 0;
      padding: 5px 10px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      box-shadow: 0px 0px 15px 0px #000;
    }
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    -webkit-filter: drop-shadow(0 0 7px #7793DC);
    filter: drop-shadow(0 0 7px #7793DC);
  }
}

@media (max-width: 768px) {
  .root {
    width: 100vw;
    height: 50vw;
  }

  .footer {
    p {
      font-size: $base-size ;
    }
  }
}